<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.base.dao.mapper.ExceptionLogMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.base.dao.entity.ExceptionLogEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="exception_type" jdbcType="INTEGER" property="exceptionType"/>
        <result column="exception_msg" jdbcType="VARCHAR" property="exceptionMsg"/>
        <result column="created_at" jdbcType="VARCHAR" property="createdAt"/>
        <result column="updated_at" jdbcType="VARCHAR" property="updatedAt"/>
    </resultMap>

    <sql id="BaseColumn">
        id, ip, exception_type, exception_msg, created_at, updated_at
    </sql>
    <insert id="insert" parameterType="com.tuniu.bi.umsj.base.dao.entity.ExceptionLogEntity" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO t_exception_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                ip,
            </if>
            <if test="exceptionType != null">
                exception_type,
            </if>
            <if test="exceptionMsg != null">
                exception_msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="exceptionType != null">
                #{exceptionType,jdbcType=BIT},
            </if>
            <if test="exceptionMsg != null">
                #{exceptionMsg,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>