<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.base.dao.mapper.RolesMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.base.dao.entity.RolesEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="menus" jdbcType="VARCHAR" property="menus"/>
        <result column="submenus" jdbcType="VARCHAR" property="submenus"/>
        <result column="actions" jdbcType="VARCHAR" property="actions"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, code, name, menus, submenus, actions, created_at, updated_at
    </sql>
    <select id="findMany" parameterType="com.tuniu.bi.umsj.base.dao.entity.RolesParamEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM roles
        <where>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="codes != null and codes.size > 0">
                AND code in
                <foreach item="tmpCode" index="index"
                         collection="codes" open="("
                         separator="," close=")">
                    #{tmpCode}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM roles
        ORDER BY id DESC
    </select>

    <insert id="insert" parameterType="com.tuniu.bi.umsj.base.dao.entity.RolesEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="menus != null">
                menus,
            </if>
            <if test="submenus != null">
                submenus,
            </if>
            <if test="actions != null">
                actions,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="menus != null">
                #{menus,jdbcType=VARCHAR},
            </if>
            <if test="submenus != null">
                #{submenus,jdbcType=VARCHAR},
            </if>
            <if test="actions != null">
                #{actions,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findByPk" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM roles
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.tuniu.bi.umsj.base.dao.entity.RolesEntity">
        UPDATE roles
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="menus != null">
                menus = #{menus,jdbcType=VARCHAR},
            </if>
            <if test="submenus != null">
                submenus = #{submenus,jdbcType=VARCHAR},
            </if>
            <if test="actions != null">
                actions = #{actions,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPk">
        DELETE FROM roles WHERE id = #{id}
    </delete>
</mapper>