<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.mapper.OaUserMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.mapper.entity.OaUserEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="saler_id" jdbcType="INTEGER" property="salerId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="work_num" jdbcType="VARCHAR" property="workNum"/>
        <result column="grade" jdbcType="INTEGER" property="grade"/>
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone"/>
        <result column="tel_ext" jdbcType="VARCHAR" property="telExt"/>
        <result column="dept_one" jdbcType="VARCHAR" property="deptOne"/>
        <result column="dept_two" jdbcType="VARCHAR" property="deptTwo"/>
        <result column="dept_three" jdbcType="VARCHAR" property="deptThree"/>
        <result column="dept_one_id" jdbcType="INTEGER" property="deptOneId"/>
        <result column="dept_two_id" jdbcType="INTEGER" property="deptTwoId"/>
        <result column="dept_three_id" jdbcType="INTEGER" property="deptThreeId"/>
        <result column="is_leave" jdbcType="BIT" property="isLeave"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="sync_flag" jdbcType="BIT" property="syncFlag"/>
        <result column="dt" jdbcType="VARCHAR" property="dt"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, saler_id, username, name, work_num, grade, cellphone, tel_ext, dept_one, dept_two,
        dept_three, dept_one_id, dept_two_id, dept_three_id, is_leave, is_deleted, sync_flag,
        dt, memo, created_at, updated_at
    </sql>
    <select id="findOne" resultMap="BaseResultMap" parameterType="com.tuniu.bi.umsj.mapper.entity.OaUserParamEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM oa_user
        WHERE username = #{username, jdbcType=VARCHAR}
        AND is_leave = #{isLeave, jdbcType=INTEGER}
        ORDER BY id DESC
        LIMIT 1
    </select>

</mapper>