<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.mapper.UdsPublishItemMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.mapper.entity.UdsPublishItemEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="publish_id" jdbcType="INTEGER" property="publishId"/>
        <result column="code_type" jdbcType="VARCHAR" property="codeType"/>
        <result column="code_path" jdbcType="VARCHAR" property="codePath"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, publish_id, code_type, code_path, state, created_at, updated_at
    </sql>

    <insert id="insert" parameterType="com.tuniu.bi.umsj.mapper.entity.UdsPublishItemEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO uds_publish_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="publishId != null">
                publish_id,
            </if>
            <if test="codeType != null">
                code_type,
            </if>
            <if test="codePath != null">
                code_path,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="publishId != null">
                #{publishId,jdbcType=INTEGER},
            </if>
            <if test="codeType != null">
                #{codeType,jdbcType=VARCHAR},
            </if>
            <if test="codePath != null">
                #{codePath,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="findMany" resultMap="BaseResultMap" parameterType="com.tuniu.bi.umsj.mapper.entity.UdsPublishItemParamEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uds_publish
        <where>
            <if test="publishId != null">AND publish_id = #{publishId}</if>
        </where>
    </select>

    <update id="update" parameterType="com.tuniu.bi.umsj.mapper.entity.UdsPublishItemEntity">
        UPDATE uds_publish_item
        <set>
            <if test="publishId != null">
                publish_id = #{publishId,jdbcType=INTEGER},
            </if>
            <if test="codeType != null">
                code_type = #{codeType,jdbcType=VARCHAR},
            </if>
            <if test="codePath != null">
                code_path = #{codePath,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete">
        DELETE FROM uds_publish_item
        WHERE id = #{id}
    </delete>

</mapper>