<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.uds.dao.mapper.InfoMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.uds.dao.entity.InfoEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="infd_id1" jdbcType="VARCHAR" property="infdId1"/>
        <result column="infd_id2" jdbcType="VARCHAR" property="infdId2"/>
        <result column="infd_id3" jdbcType="VARCHAR" property="infdId3"/>
        <result column="infd_id4" jdbcType="VARCHAR" property="infdId4"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, infd_id1,infd_id2,infd_id3,infd_id4
    </sql>

    <select id="findByPk" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM info
        WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.tuniu.bi.umsj.uds.dao.entity.InfoEntity" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infdId1 != null">
                infd_id1,
            </if>
            <if test="infdId2 != null">
                infd_id2,
            </if>
            <if test="infdId3 != null">
                infd_id3,
            </if>
            <if test="infdId4 != null">
                infd_id4,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infdId1 != null">
                #{infdId1,jdbcType=VARCHAR},
            </if>
            <if test="infdId2 != null">
                #{infdId2,jdbcType=VARCHAR},
            </if>
            <if test="infdId3 != null">
                #{infdId3,jdbcType=VARCHAR},
            </if>
            <if test="infdId4 != null">
                #{infdId4,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>