<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.bi.umsj.uds.dao.mapper.UdsPublishMapper">
    <resultMap id="BaseResultMap" type="com.tuniu.bi.umsj.uds.dao.entity.UdsPublishEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="jira_id" jdbcType="VARCHAR" property="jiraId"/>
        <result column="sys_type" jdbcType="INTEGER" property="sysType"/>
        <result column="publish_type" jdbcType="INTEGER" property="publishType"/>
        <result column="code_type" jdbcType="VARCHAR" property="codeType"/>
        <result column="code_path" jdbcType="VARCHAR" property="codePath"/>
        <result column="affected_data" jdbcType="VARCHAR" property="affectedData"/>
        <result column="review_board_url" jdbcType="VARCHAR" property="reviewBoardUrl"/>
        <result column="publish_step" jdbcType="VARCHAR" property="publishStep"/>
        <result column="err_rollback" jdbcType="VARCHAR" property="errRollback"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="publish_user" jdbcType="VARCHAR" property="publishUser"/>
        <result column="apply_user" jdbcType="VARCHAR" property="applyUser"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, jira_id, sys_type, publish_type, code_type, code_path, affected_data,
        review_board_url, publish_step, err_rollback, memo, publish_user, apply_user, status,
        created_at, updated_at
    </sql>
    <select id="findMany" parameterType="com.tuniu.bi.umsj.uds.dao.entity.UdsPublishParamEntity"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uds_publish
        <where>
            <if test="title != null and title != ''">AND title LIKE CONCAT('%',#{title},'%')</if>
            <if test="jiraId != null and jiraId != 0">AND jira_id = #{jiraId}</if>
            <if test="publishUser != null and publishUser != ''">AND publish_user = #{publishUser}</if>
            <if test="applyUser != null and applyUser != ''">AND apply_user = #{applyUser}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.tuniu.bi.umsj.uds.dao.entity.UdsPublishEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO uds_publish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="jiraId != null">
                jira_id,
            </if>
            <if test="sysType != null">
                sys_type,
            </if>
            <if test="publishType != null">
                publish_type,
            </if>
            <if test="codeType != null">
                code_type,
            </if>
            <if test="codePath != null">
                code_path,
            </if>
            <if test="affectedData != null">
                affected_data,
            </if>
            <if test="reviewBoardUrl != null">
                review_board_url,
            </if>
            <if test="publishStep != null">
                publish_step,
            </if>
            <if test="errRollback != null">
                err_rollback,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="publishUser != null">
                publish_user,
            </if>
            <if test="applyUser != null">
                apply_user,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="jiraId != null">
                #{jiraId,jdbcType=VARCHAR},
            </if>
            <if test="sysType != null">
                #{sysType,jdbcType=INTEGER},
            </if>
            <if test="publishType != null">
                #{publishType,jdbcType=INTEGER},
            </if>
            <if test="codeType != null">
                #{codeType,jdbcType=VARCHAR},
            </if>
            <if test="codePath != null">
                #{codePath,jdbcType=VARCHAR},
            </if>
            <if test="affectedData != null">
                #{affectedData,jdbcType=VARCHAR},
            </if>
            <if test="reviewBoardUrl != null">
                #{reviewBoardUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishStep != null">
                #{publishStep,jdbcType=VARCHAR},
            </if>
            <if test="errRollback != null">
                #{errRollback,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="publishUser != null">
                #{publishUser,jdbcType=VARCHAR},
            </if>
            <if test="applyUser != null">
                #{applyUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.tuniu.bi.umsj.uds.dao.entity.UdsPublishEntity">
        UPDATE uds_publish
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="jiraId != null">
                jira_id = #{jiraId,jdbcType=VARCHAR},
            </if>
            <if test="sysType != null">
                sys_type = #{sysType,jdbcType=INTEGER},
            </if>
            <if test="publishType != null">
                publish_type = #{publishType,jdbcType=INTEGER},
            </if>
            <if test="codeType != null">
                code_type = #{codeType,jdbcType=VARCHAR},
            </if>
            <if test="codePath != null">
                code_path = #{codePath,jdbcType=VARCHAR},
            </if>
            <if test="affectedData != null">
                affected_data = #{affectedData,jdbcType=VARCHAR},
            </if>
            <if test="reviewBoardUrl != null">
                review_board_url = #{reviewBoardUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishStep != null">
                publish_step = #{publishStep,jdbcType=VARCHAR},
            </if>
            <if test="errRollback != null">
                err_rollback = #{errRollback,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="publishUser != null">
                publish_user = #{publishUser,jdbcType=VARCHAR},
            </if>
            <if test="applyUser != null">
                apply_user = #{applyUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByPk" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uds_publish
        WHERE id = #{id}
    </select>
</mapper>